body {
    text-align: center;
    font-family: 'Poppins', serif;
    font-size: 14px;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    padding: 1.5em;
}

h2 {
    margin-top: 1.5em;
}

.bg_shade {
    background-color: #fe716324;
    border-radius: 50px;
    position: absolute;
    z-index:-1;
}

#circle_1 {
    top: 40px;
    right: 27px;
    width: 100px;
    height: 100px;
}
#circle_2 {
    top: 159px;
    left: 48px;
    width: 36px;
    height: 36px;
}
#circle_3 {
    top: 30px;
    left: 75px;
    width: 55px;
    height: 55px;
}

#register-form input[type=text],
#register-form input[type=email],
#register-form input[type=number],
#register-form input[type=password] {
    width: 65%;
    padding: 1em;
    margin: 5px 20px 22px 20px;
    background: #f1f1f1;
}

#register-form input[type=text],
#register-form input[type=email],
#register-form input[type=number],
#register-form input[type=password],
#register-form input[type=submit] {
    border-radius: 5px;
    display: inline-block;
    border: none;
}

#register-form input[type=submit] {
    background-color: #ad1052ff;
    color: #ffffff;
    font-family: 'Poppins', serif;
    font-weight: bold;
    padding: 0.5em 5em;
}

#register-form input::placeholder {
    font-family: 'Poppins', serif;
}

.radio-group {
    text-align: left;
}

#errMsg {
    display: none;
    font-size: 13px;
}

.error-message {
    color: #f00;
    text-align: left;
    padding: 0;
    margin: -20px 0 5px 17%;
    width: 60%;
}

.success-message {
    text-align: center;
    color: #0f0;
    border: 2px solid #0f0;
    margin: 5px auto 22px auto;
    width: 80%;
    background-color: #f1f1f1;
    border-radius: 5px;
}

#radio-container {
    text-align: left;
    border: none;
    width: 55%;
    height: 100%;
    padding: 1em;
    margin: 0 auto 5px auto;
}

#radio-container > legend {
    margin-left: -2em;
}

.input-labels {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    position: relative;
    left: 15%;
}

.mandatory {
    color: #f00;
    padding-left: 0.1em;
}

fieldset {
    margin: 1em auto;
}

legend {
    text-align: left;
}